aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]==0.25.2
motor
numpy
opencv-python
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pytgcrypto
kurigram
git+https://github.com/KurimuzonAkuma/pyrogram.git@2ae00a2710dd3e347798473f3dd784e9639edb1a
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
unidecode
uvloop; sys_platform != "win32"
yt-dlp
youtube-search
youtube-search-python
